html {
	height: 100%;
}

body {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.002, rgb(46,50,51)), color-stop(0.5, rgb(88,96,99)), to(rgb(46,50,51)));
	background-color: rgb(46,50,51);
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 0.75em;
	color: #fff;
	background-image: url("memory.png");
	background-position: center center;
	background-repeat: no-repeat;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);   
}

.overlay textarea.values {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    font-family: monospace;
    margin-left: -200px;
    margin-top: -200px;
}

.overlay .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 220px;
    margin-left: -200px;
    width: 400px;
    text-align: right;
}

.overlay input.apply {
    font-weight: bold;
}

.cpu {
	position: absolute;
	z-index: -2;
	
	left: 50%;
	width: 580px;
	margin-left: -300px;
	
	top: 50%;
	height: 580px;
	margin-top: -300px;
}

.cpu a {
    color: #fff;    
}

.cpu em {
	color: rgb(141, 187, 158);
}

.commands p {
    padding-bottom: 5px;
}

.left {
    position: absolute;
    top: 45px;
    left: 60px;
    width: 258px;
}

.right {
    position: absolute;
    top: 45px;
    right: 0;
}

.block {
    position: relative;
    padding-bottom: 25px;
}

.block .titles {
    width: 110px;
    float: left;
}

.block h2 {
    padding-bottom: 5px;
}

.block .values {
	overflow: auto;
	width: 260px;
}

.values li {
    font-family: "Andale Mono", monospace;
}

.block.decoded .values {
    height: 15px;
}

.block.register .values {
    height: 65px;
}

.block.info .values {
    height: 30px;
}

.block.instructions .values {
    height: 252px;    
}

.block.instructions .values .active {
	background-color: rgba(0, 0, 0, 0.2);
}

.block.memory .values {
	height: 216px;
}

.footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 200px;
    text-align: center;
    margin-left: -100px;
}

.footer,
.footer a {
    color: #666;
}
